.contatoContainer {
    display: block;
    background-color: #020507;
    padding: 92px 12px;
}

.contatoContainer h2 {
    text-align: center;
    margin: 18px auto 32px auto;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
    background-color: #040709;
    border: 2px solid #020304;
    padding: 18px;
    border-radius: 6px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}

.formContainer label, .formContainer input, #message  {
    display: block;
    width: 100%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.formContainer label {
    margin-bottom: 12px;
    cursor: pointer;
}

.formContainer input, #message {
    background-color: #eeeeee;
    border-radius: 4px;
    color: #020507;
    outline: none;
}

.formContainer input:hover, #message:hover, #message:focus, .formContainer input:focus {
    background-color: #dbdbdb;
    border: 3px solid #008BC7;
}

.formContainer input {
    height: 32px;
    border: 1px solid #d8d8d8;
    margin-bottom: 18px;
}

#message {
    padding-top: 6px;
    border: 3px solid #d8d8d8;
}

#message, .formContainer input {
    padding-left: 8px;
}

#btnEnviar {
    color: #F2F5F6;
    background-color: #008BC7;
    box-shadow: 0 10px 30px rgba(0,139,199, 0.6);
    border: none;
    border-radius: 8px;
    padding: 14px 32px;
    font-weight: bold;
    margin-top: 22px;
    cursor: pointer;
}

#btnEnviar:hover {
    background-color: #4f9abb;
    box-shadow: 0 10px 30px rgba(81, 156, 189, 0.837);
}

@media(max-width: 430px) {
    .formContainer {
        max-width: 290px;
        padding: 16px;
    }
}