.galeria-bg {
    background-color: #020507;
    padding: 92px 0;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 36px;
}

.containerFotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.fotoContainer {
    max-width: 400px;
    border: 3px solid #010203;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .6);
    border-radius: 8px;
}

.fotoContainer img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

@media (max-width: 420px) {
    .title {
        font-size: 1.5rem;
    }

    .fotoContainer {
        max-width: 280px;
    }
}